*.js
!jest.config.js
*.d.ts
node_modules
build/*.tar.gz
!js/*.js

# Downloaded asset(s)
assets/steamcmd_linux.tar.gz

# Templated asset(s)
assets/custom_start_valheim.sh
assets/stop_backup_start.sh

# CDK asset staging directory
.cdk.staging
cdk.out

