[Unit]
Description=Valheim Server
Wants=network-online.target
After=syslog.target network.target nss-lookup.target network-online.target
[Service]
Type=simple
Restart=on-failure
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3
User=viking
Group=viking
ExecStartPre=/home/viking/Steam/steamcmd.sh +login anonymous +force_install_dir /home/viking/valheimserver +app_update 896660 validate +exit
ExecStart=/home/viking/valheimserver/custom_start_valheim.sh
ExecReload=/bin/kill -s HUP $MAINPID
KillSignal=SIGINT
WorkingDirectory=/home/viking/valheimserver
LimitNOFILE=100000
[Install]
WantedBy=multi-user.target